<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/jobs">Home</a></li>
  <li role="presentation"><a href="/jobs/new">Add job</a></li>
  <li role="presentation"><a href="#">Search job</a></li>
</ul> 
</body>
</html>