<!-- <nav>
	<a href="/jobs">Job list</a>
	<a href="/jobs/new">New Job</a>
</nav> -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search...">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
	<div id="navbar">  
</div> 
</body>
</html>